# Algorithm patterns 

## And their implementation using loops

In [1]:
# import some modules that we'll be using throughout
import numpy as np

## 1. Mapping

**Conceptual task**: Create a new collection by applying a function (mapping) to each element of the original collection

**Implementation:** Initialize an empty list. Going through each element of the collection, applying the function and appending the result to the list

**Example**: Given a list of integers, obtain the corresponding list of square

In [2]:
# set up test data
data = [1, 3, 5, 7, 9]

# algorithmic pattern
squared = [] # initialize output container
for x in data:
    y = x ** 2 # apply function on element
    squared.append(y) # append the result

# print out the result
print("list of squares =", squared)

list of squares = [1, 9, 25, 49, 81]

**Shortcut #1**: List comprehesion often provide a more succinct way to do mapping

In [3]:
squared2 = [x**2 for x in data]
print("list of squares =", squared2)

list of squares = [1, 9, 25, 49, 81]

**Shortcut #2**: Most numpy arithmetic and functions are mapping by default

In [4]:
squared3 = np.array(data) ** 2
print("array of squares =", squared3)

array of squares = [ 1  9 25 49 81]

**Now you try:** Given the following list of (x, y) coordinates of points, find their corresponding distance from the origin (_Bonus_: make 1 implementation using for loop, and another using numpy functions)

In [5]:
# set up a list of (x, y) coordinates
coords = [
    [7, 11],
    [4, 8],
    [-2, 9],
    [3, -3],
    [0, 5]
]

# algorithmic pattern

# print out the result

In [6]:
# possible solution #1 (for loop)
distances = []
for val in coords:
    dist = (val[0]**2 + val[1]**2)**0.5
    distances.append(dist)

print("Corresponding distances:", distances)

Corresponding distances: [13.038404810405298, 8.94427190999916, 9.219544457292887, 4.242640687119285, 5.0]

In [7]:
# possible solution #2 (numpy)
coords_np = np.array(coords)
sq_distances_np = np.sum(coords_np ** 2, axis=1)
distances_np = np.sqrt(sq_distances_np)
print("Corresponding distances:", distances_np)

Corresponding distances: [13.03840481  8.94427191  9.21954446  4.24264069  5.        ]

## 2. Filter

**Conceptual task**: Create a new collection by including only elements of the original collection that satisfy certain condition

**Implementation:** Initialize an empty list. Going through each element of the collection, appending it only if the condition checks out

**Example**: Given a list of floats, filter _out_ any entries that are negative

In [8]:
# set up test data
data = [1, -5, 8, 2, -3, 1, 5, -2]

# algorithmic pattern
nonnegative = [] # initialize output container
for x in data:
    if x >= 0: # check condition
        nonnegative.append(x) # append if checks out

# print out the result
print("list of non-negative entries =", nonnegative)

list of non-negative entries = [1, 8, 2, 1, 5]

**Shortcut**: For numpy array, filtering can be done by indexing on results from `np.nonzero()` (the preferred equivalent to `np.where()`; here non-zero means "True" and 0 is "False")

In [9]:
data_np = np.array(data)
data_np[data_np >= 0]

array([1, 8, 2, 1, 5])

**Now you try:** Given the following records of name-pronoun pairs, select all persons who are gender non-binary (for simplicity, treat any pronouns that are not "he/him" or "she/her" as non-binary)

In [10]:
# set up a list of names and their pronouns
records = [
    ["Chris", "they/them"],
    ["Robin", "she/her"],
    ["Alex", "he/him"],
    ["Avery", "ze/zim"],
    ["Taylor", "she/her"]
]

# algorithmic pattern

# print out the result

In [11]:
# possible solution:
nonbinary = []
for person in records:
    if person[1] != "he/him" and person[1] != "she/her":
        nonbinary.append(person)

print("Persons who are non-binary:", nonbinary)

Persons who are non-binary: [['Chris', 'they/them'], ['Avery', 'ze/zim']]

## 3. Counting

**Conceptual task**: Count the number of items in a collection for which a certain condition is met

**Implementation:** Initialize a counter at 0. Keep checking item and increment the counter when condition is met.

**Example**: Given a list of floats, count the number of negative entries.

In [12]:
# set up test data
data = [1, -5, 8, 2, -3, 1, 5, -2]

# algorithmic pattern
counter = 0 # initialize counter
for x in data:
    if x < 0: # check if condition is met
        counter += 1 # update counter if so

# print out the result
print("number of negative items =", counter)

number of negative items = 3

**Shortcut**: In numpy, counting can be done by combine array slicing with `np.count_nonzero()`

In [13]:
np.count_nonzero(np.array(data) < 0)

3

**Now you try:** Count how many animals in the list below start with either "a", "b", or "c".

In [14]:
# set up a list of animal names
animal_names = [
    "antelope", "bear", "cat", "alligator", "bison", 
    "cougar", "zebra", "dolphin", "elephant", "giraffe", 
    "bat", "chimpanzee", "armadillo", "beetle", "crab", 
    "kangaroo", "boa", "octopus", "cheetah", "camel", 
    "otter", "fox", "koala", "coyote", "buffalo", 
    "alpaca", "anaconda", "badger", "crow", "donkey"
]

# algorithmic pattern

# print out the result

In [15]:
# possible solution
count = 0
for name in animal_names:
    if name[0] == "a" or name[0] == "b" or name[0] == "c":
        count += 1

print("Number of animals that start with 'a', 'b', or 'c' =", count)

Number of animals that start with 'a', 'b', or 'c' = 20

## 4. Accumulation

**Conceptual task**: compute a quantity whose value depends on all elements of the collection equally

**Implementation**: Initialize a variable to store an accumulated value. Update the value for every item in the loop.

**Example**: Find the sum of integers in a list.

In [16]:
# set up test data
data = [3, 1, 2, 5, 6, 9, 0]

# algorithmic pattern
total = 0 # initialize store
for x in data:
    total += x # update store

# print out the result
print("total value =", total)

total value = 26

**Shortcut #1**: For the case of sum, you can use the python built-in function `sum()`

In [17]:
sum(data)

26

**Shortcut #2**: numpy has functions that implement the most familiar accumulation cases (e.g., `np.sum()`, `np.mean()`, `np.prod()`)

In [18]:
np.sum(data)

np.int64(26)

**Now you try:** The following records show a list of people and their years of experience in data science. What is their total (sum) years of experience?

In [19]:
people = [
    ["Asher", 2],
    ["Ellison", 8],
    ["Luca", 5],
    ["Teo", 3]
]

# algorithmic pattern

# print out the result

In [20]:
# possible solution
total = 0
for person in people:
    total += person[1]

print("total years of experience =", total)

total years of experience = 18

## 5. Max/min value

**Conceptual task**: Find the most extreme element from a collection

**Implementation**: Initialize a variable to store the max/min value. Update it each time a larger/smaller value is found.

**Example**: Find the maximum values from a list of **positive** integers.

In [21]:
# set up test data
data = [3, 1, 2, 5, 6, 9, 7]

# algorithmic pattern
max_val = 0 # start with a non-candidate
for x in data:
    # check if new element more extreme than candidate
    if x > max_val: 
        # if so, take the element as new candidate
        max_val = x 

# print out the result
print("maximum value =", max_val)

maximum value = 9

**Shortcut #1**: For numerical values, python has built-in function `max()` and `min()`

In [22]:
max(data)

9

**Shortcut #2:** Numpy also comes with `np.max()` and `np.min()`

In [23]:
np.max(data)

np.int64(9)

**Now you try:** Given the following list of (x, y) coordinates of points, find the point that is closest to the origin

In [24]:
# set up a list of coordinates
coords = [
    [7, 11],
    [4, 8],
    [-2, 9],
    [3, -3],
    [0, 5]
]

# algorithmic pattern

# print out the result

In [25]:
# possible solution #1 (for loop)
closest = None
distance = float("inf")

for val in coords:
    d = (val[0]**2 + val[1]**2) ** 0.5
    if d < distance:
        closest = val
        distance = d

print("The cloest point to origin is: ", closest)

The cloest point to origin is:  [3, -3]

In [26]:
# possible solution #2 (numpy)
coords_np = np.array(coords)
distances_np = np.sqrt(np.sum(coords_np, axis=1))
min_index = np.argmin(distances_np)
closest = coords[min_index]

print("The cloest point to origin is: ", closest)

The cloest point to origin is:  [3, -3]

## 6. Linear search

**Conceptual task**: Find an item in a collection that satisfy a certain condition

**Implementation**: Assume that an item satisfying the condition does not exist, then keep checking the items until a satisfying item is found.

**Exmaple:** Find a string that is capitalized

In [27]:
# setup test data
data = ["this", "IS", "an", "Example"]

# algorithmic pattern
desired = None # start with a non-item
for x in data:
    if x.capitalize() == x: # check if condition is met
        desired = x # if so assign it to output variable
        break # and skip the remaining items

# print out the result
if x is None:
    print("item not found")
else:
    print("A capitalized string is: '" + desired + "'")

A capitalized string is: 'Example'

**Now you try:** The list below represents a list of products. Each product is represented as a list containing the product name (a string), its price (a float), and the amount of the product in stock (an integer).

Find the first product that has a **price greater than \$50** and is **in stock** (quantity greater than 0). If no product meets the criteria, print out a message saying that "No items worth more than \$50 are in stock".

In [28]:
# set up test data
inventory = [
    ["Mouse", 25.50, 20],
    ["Keyboard", 45.00, 0],
    ["Monitor", 150.00, 10],
    ["Laptop", 999.99, 5],
    ["Headphones", 70.00, 0]
]

# algorithmic pattern

# print out the result

In [29]:
# possible solution
good_item = None
for item in inventory:
    if item[1] > 50 and item[2] > 0:
        good_item = item
        break

if good_item is None:
    print("No items worth more than $50 are in stock")
else:
    print("First item in inventory in stock and worth > $50:", good_item)

First item in inventory in stock and worth > $50: ['Monitor', 150.0, 10]

# Nested loops

**Example:** print out all the possible ways to pick a first item from [1, 2, 3] and a second item from [a, b, c]

In [30]:
data1 = [1, 2, 3]
data2 = ['a', 'b', 'c']

for id1 in data1: # run through 1 to 3
    for id2 in data2: # run through a to c
        print(id1, id2) # form pairs

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

**Now you try**: print out the results of multiplying $a$ with $b$, where $a$ ranges from 1 to 7 and $b$ ranges from 1 to 5

In [31]:
# your code here

In [32]:
# possible solution
for a in range(1, 8):
    for b in range(1, 6):
        c = a * b
        print(a, "times", b, "is", c)

1 times 1 is 1
1 times 2 is 2
1 times 3 is 3
1 times 4 is 4
1 times 5 is 5
2 times 1 is 2
2 times 2 is 4
2 times 3 is 6
2 times 4 is 8
2 times 5 is 10
3 times 1 is 3
3 times 2 is 6
3 times 3 is 9
3 times 4 is 12
3 times 5 is 15
4 times 1 is 4
4 times 2 is 8
4 times 3 is 12
4 times 4 is 16
4 times 5 is 20
5 times 1 is 5
5 times 2 is 10
5 times 3 is 15
5 times 4 is 20
5 times 5 is 25
6 times 1 is 6
6 times 2 is 12
6 times 3 is 18
6 times 4 is 24
6 times 5 is 30
7 times 1 is 7
7 times 2 is 14
7 times 3 is 21
7 times 4 is 28
7 times 5 is 35